.ios .todo_text {
	color: black;
}

/* 過去のTODOは赤字 */
#past_list ~ li .todo_text {
	color: red;
}

#now_list ~ li .todo_text,
#today_list ~ li .todo_text{
	color: green;
}

#future_list ~ li .todo_text{
	color: black;
}

.can_not_today{
	color: red;
}